include ../mixins/icons/icons

footer#footer 
    .cv 
        a(href="https://www.linkedin.com/in/sarah-hitier-3249b21b5/" target="_blank") 
            +cv

    .linkedin 
        a(href="https://www.linkedin.com/in/sarah-hitier-3249b21b5/" target="_blank") 
            +linkedin

    .footer-line