include ../mixins/icons/icons

footer#footer 
    .cv 
        svg(width='30' height='30' viewbox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
            rect(width='30' height='30' rx='2' fill='url(#paint0_linear_426_12672)')
            path(d='M0.894656 17.304C0.894656 15.912 1.17466 14.696 1.73466 13.656C2.31066 12.616 3.10266 11.816 4.11066 11.256C5.13466 10.696 6.30266 10.416 7.61466 10.416C9.29466 10.416 10.6947 10.856 11.8147 11.736C12.9507 12.616 13.6947 13.856 14.0467 15.456H9.67866C9.31066 14.432 8.59866 13.92 7.54266 13.92C6.79066 13.92 6.19066 14.216 5.74266 14.808C5.29466 15.384 5.07066 16.216 5.07066 17.304C5.07066 18.392 5.29466 19.232 5.74266 19.824C6.19066 20.4 6.79066 20.688 7.54266 20.688C8.59866 20.688 9.31066 20.176 9.67866 19.152H14.0467C13.6947 20.72 12.9507 21.952 11.8147 22.848C10.6787 23.744 9.27866 24.192 7.61466 24.192C6.30266 24.192 5.13466 23.912 4.11066 23.352C3.10266 22.792 2.31066 21.992 1.73466 20.952C1.17466 19.912 0.894656 18.696 0.894656 17.304ZM22.2659 20.16L25.1699 10.608H29.5379L24.7859 24H19.7219L14.9699 10.608H19.3619L22.2659 20.16Z' fill='url(#social_text)')
            defs
                lineargradient#paint0_linear_426_12672(x1='0' y1='0' x2='30' y2='30' gradientunits='userSpaceOnUse')
                    stop(stop-color='#12C2E9')
                    stop(offset='0.490335' stop-color='#C471ED')
                    stop(offset='1' stop-color='#F64F59')
                lineargradient#paint1_linear_426_12672(x1='15' y1='4' x2='15' y2='28' gradientunits='userSpaceOnUse')
                    stop(stop-color='#262626')
                    stop(offset='1')

    .linkedin 
        a(href="https://www.linkedin.com/in/sarah-hitier-3249b21b5/" target="_blank") 
            +linkedin

    .footer-line