include ../mixins/icons/icons

footer
    #footer
        .footer-line#first-line
        .cv 
            a(href="../assets/documents/CV.pdf" target="_blank") 
                +cv
        .linkedin 
            a(href="https://www.linkedin.com/in/sarah-hitier-3249b21b5/" target="_blank") 
                +linkedin
        .footer-line

    .copyright 
        p &copy;2021 - Sarah HITIER