include ../mixins/icons
include ../mixins/logo
include ../mixins/menu

header
    #header
        a(href="index.html").logo-header
            +logo-header
        .menu-links
            +menu-links
        .settings
            .toggle
                input#darkmode(type="checkbox" checked="true")
                label.toggle-item(for="darkmode")
                    .check
            .hamburger 
                input.hamburger-button(type="checkbox")
                .hamburger-lines 
                    span
                    span 
                    span 
                .menu-links.menu-mobile
                    +menu-links