mixin search
    svg(width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg")
        circle(cx="18" cy="11.3137" r="9" transform="rotate(45 18 11.3137)" stroke-width="2")
        path(d="M11.7071 19.0208L12.4142 18.3137L11 16.8995L10.2929 17.6066L11.7071 19.0208ZM0.292893 27.6066C-0.0976319 27.9971 -0.0976316 28.6303 0.292893 29.0208C0.683417 29.4114 1.31658 29.4114 1.70711 29.0208L0.292893 27.6066ZM10.2929 17.6066L0.292893 27.6066L1.70711 29.0208L11.7071 19.0208L10.2929 17.6066Z")