mixin logo
    svg(fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M3 41V67L23.9276 54M24 2L3 15L45 41L23.9276 54M23.9276 54V41M23.9276 54V67" stroke="url(#paint0_linear_292:942)" stroke-width="3" fill="none")
        defs
            linearGradient(id="paint0_linear_292:942" x1="24" y1="2" x2="24" y2="67" gradientUnits="userSpaceOnUse")
                stop(stop-color="#12C2E9")
                stop(offset="0.482292" stop-color="#C471ED")
                stop(offset="1" stop-color="#F64F59")