/**
 * CSS COMMUN À TOUTES LES PAGES
 */

* {
    margin: 0;

    &:before,
    &:after {
        content: "";
        position: absolute;
    }
}

html {
    body {
        background: $black-gradient;
        background-attachment: fixed;
        color: $white;
        transition: 0.5s;
        min-height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .page-content {
            margin-top: 89px;
        }

        header {
            .active {
                font-weight: 800;
            }
        }

        h1 {
            font-family: Nunito;
            font-size: 48px;
            font-weight: 800;
            line-height: 60px;
            margin-bottom: 24px;
        }

        p,
        a {
            font-family: Nunito;
            font-size: 24px;
            font-weight: 400;
            line-height: 48px;
            text-align: justify;
            text-decoration: none;
        }

        .search {
            circle {
                stroke: $white;
            }

            path {
                fill: $white;
            }
        }

        .card {
            position: relative;
            border-radius: 20px;
            color: $white;
            background: radial-gradient(
                50% 75% at 50% 0%,
                #373e42 0%,
                #222426 100%
            );
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                margin: -1px;
                border-radius: inherit;
                background: linear-gradient(#fff, rgba(0, 0, 0, 0));
            }
        }
    }

    .light-mode {
        background: $white-gradient;
        background-attachment: fixed;
        color: $black;

        .card {
            color: $black;
            background: radial-gradient(
                50% 75% at 50% 0%,
                #ffffff 0%,
                #f2f2f2 100%
            );
        }
    }
}
