@import "import/colors";
@import "import/fonts";

.hero {
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-column {
        display: none;
        flex-direction: column;
        gap: 50px;
        padding: 100px;
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        letter-spacing: 0.25em;
        list-style-type: none;
    }

    #first-column {
        text-align: right;
    }

    .logo-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        top: 0;
        background: $black-gradient;
    }

    .logo-loader-hero {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 500ms;
        background: transparent;
    }
}

@media screen and (min-width: 1225px) {
    .hero {
        height: calc(100vh - 90px);
        flex-direction: row;

        .hero-column {
            width: calc(100vw / 3);
            gap: 50px;
            padding: 100px;
            font-size: 32px;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1224px) {
    .hero {
        height: calc(100vh - 90px);
        flex-direction: row;

        .hero-column {
            width: calc(100vw / 3);
            gap: 50px;
            padding: 100px;
            font-size: 32px;
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;

        .hero-column {
            height: 285px;
            gap: 20px;
            padding: 20px;
            font-size: 20px;
        }
    }
}
