/**
 * CSS PAGE D'ACCUEIL
 */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-column {
        display: none;
        list-style-type: none;
        flex-direction: column;
        padding: 0;

        p,
        li {
            font-family: "Roboto", sans-serif;
            font-size: 32px;
            letter-spacing: 0.25em;
        }
    }

    .logo-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        top: 0;
        background: transparent;
    }

    .logo-loader-hero {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 500ms;
        background: transparent;
    }
}

@media screen and (min-width: 1225px) {
    .hero {
        height: calc(100vh - 90px);
        flex-direction: row;
        gap: 8vw;

        .hero-column {
            width: 310;
            gap: 20px;
            font-size: 32px;

            p {
                &:nth-child(1) {
                    margin-left: 10vw;
                }
                &:nth-child(2) {
                    margin-left: 20vw;
                }
                &:nth-child(3) {
                    margin-left: 15vw;
                }
                &:nth-child(4) {
                    margin-left: 8vw;
                }
                &:nth-child(5) {
                    margin-left: 22vw;
                }
                &:nth-child(6) {
                    margin-left: 10vw;
                }
                &:nth-child(7) {
                    margin-left: 18vw;
                }
            }
        }

        #last-hero {
            gap: 32px;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1224px) {
    .hero {
        height: calc(100vh - 90px);
        flex-direction: row;
        gap: 5vw;

        .hero-column {
            width: 310;
            gap: 20px;
            font-size: 32px;

            p,
            li {
                font-family: "Roboto", sans-serif;
                font-size: 24px;
                line-height: 40px;
                letter-spacing: 0.25em;
            }

            p {
                &:nth-child(1) {
                    margin-left: 10vw;
                }
                &:nth-child(2) {
                    margin-left: 20vw;
                }
                &:nth-child(3) {
                    margin-left: 15vw;
                }
                &:nth-child(4) {
                    margin-left: 8vw;
                }
                &:nth-child(5) {
                    margin-left: 22vw;
                }
                &:nth-child(6) {
                    margin-left: 10vw;
                }
                &:nth-child(7) {
                    margin-left: 18vw;
                }
            }
        }
        .logo-loader,
        .logo-loader-hero {
            width: 250px;

            svg {
                width: 100%;
                height: auto;
            }
        }

        #last-hero {
            gap: 32px;
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 20px 0;
        gap: 20px;

        .hero-column {
            /*height: 285px;*/
            font-size: 20px;
            width: 100%;
            /*align-items: center;*/

            p,
            li {
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                line-height: 40px;
                letter-spacing: 0.25em;
            }

            p {
                &:nth-child(1) {
                    margin-left: 10vw;
                }
                &:nth-child(2) {
                    margin-left: 60vw;
                }
                &:nth-child(3) {
                    margin-left: 40vw;
                }
                &:nth-child(4) {
                    margin-left: 0vw;
                }
                &:nth-child(5) {
                    margin-left: 55vw;
                }
                &:nth-child(6) {
                    margin-left: 15vw;
                }
                &:nth-child(7) {
                    margin-left: 45vw;
                }
            }
        }

        #last-hero {
            text-align: center;
        }

        .logo-loader,
        .logo-loader-hero {
            width: 150px;

            svg {
                width: 100%;
                height: auto;
            }
        }
    }
}
