@import "import/colors";

.card {
    width: 600px;
    height: 720px;
    margin: 94px 20px 0 40px;
    border-radius: 20px;
    position: relative;
    padding: 24px 48px;
    color: $white;
    background: radial-gradient(50% 75% at 50% 0%, #373E42 0%, #222426 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background: linear-gradient(#fff, rgba(255, 255, 255, 0.39));
    }

    .infos { 
        display: flex;
        justify-content: space-between;
        align-items: center;

        .techno { 
            .figma {
                width: 30px;
                height: 30px;
                background-color: $white;
            }
        }
        .date {
            display: flex;
            align-items: center;
            gap: 2px;
            .line {
                width: 24px;
                height: 1px;
                background: $white;
            }
        }
    }

    
    .visit-button {
        border: 1px solid white;
        width: 150px;
        height: 50px;
        margin: 50px auto;
        

        .visit { 
            width: 150px;
            height: 50px;
            margin: 0 18px;
            position: relative;
            text-decoration: none;
            background-image: linear-gradient(to bottom right, #12C2E9, #C471ED, #F64F59);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            
            &:before {
                content: '';
                position: absolute;
                height: 100px;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                margin: -1px;
                border-radius: inherit;
                background: linear-gradient(to bottom right, #12C2E9, #C471ED, #F64F59);
            }
        }
    }
}

