/*!**************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./assets/styles/common.scss ***!
  \**************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&display=swap);
/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./assets/styles/common.scss (1) ***!
  \******************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
/*!*************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./assets/styles/index.scss ***!
  \*************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&display=swap);
/*!*****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./assets/styles/index.scss (1) ***!
  \*****************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./assets/styles/common.scss (2) ***!
  \******************************************************************************************************************************************************************/
/* Solid colors */
/* Gradients */
header {
  width: 100%;
  position: fixed;
  z-index: 10; }
  header #header {
    border-bottom: 1px solid #ffffff;
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: sticky;
    top: 0;
    z-index: 5;
    background: linear-gradient(180deg, #262626 0%, #000000 1001.14%); }
    header #header .logo-header {
      line-height: 0; }
    header #header .menu-desktop ul {
      padding: 0;
      display: flex; }
      header #header .menu-desktop ul li {
        margin: 0 12px;
        text-align: center;
        list-style-type: none;
        font-size: 24px; }
        header #header .menu-desktop ul li a {
          text-decoration: none;
          color: #ffffff;
          font-family: Nunito; }
          header #header .menu-desktop ul li a:hover {
            background: linear-gradient(to bottom right, #12c2e9, #c471ed, #f64f59);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent; }
        header #header .menu-desktop ul li svg {
          vertical-align: text-bottom;
          fill: #ffffff; }
    header #header .settings {
      display: flex;
      gap: 24px; }
      header #header .settings .search {
        display: none; }
      header #header .settings .toggle {
        width: 55px;
        height: 30px; }
        header #header .settings .toggle label.toggle-item {
          width: 100%;
          height: 100%;
          background: linear-gradient(#262626, #000000);
          display: inline-block;
          border-radius: 60px;
          cursor: pointer;
          position: relative;
          transform-origin: 20% center; }
          header #header .settings .toggle label.toggle-item .check {
            border-radius: 50%;
            width: 28px;
            height: 28px;
            position: absolute;
            background: linear-gradient(#ffffff, #d9d9d9);
            content: url("data:image/svg+xml; utf8, <svg width=\"10\" height=\"10\" viewBox=\"-2 -2 26 26\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><circle cx=\"11\" cy=\"11\" r=\"4.5\" stroke=\"black\"/><line y1=\"-0.5\" x2=\"2.88256\" y2=\"-0.5\" transform=\"matrix%280.70909 0.705118 -0.70909 0.705118 4 5%29\" stroke=\"black\"/><line y1=\"-0.5\" x2=\"2.88256\" y2=\"-0.5\" transform=\"matrix%280.70909 -0.705118 0.70909 0.705118 15.9561 7.10181%29\" stroke=\"black\"/><line y1=\"-0.5\" x2=\"2.88256\" y2=\"-0.5\" transform=\"matrix%280.70909 0.705118 -0.70909 0.705118 14.9597 15.8982%29\" stroke=\"black\"/><line y1=\"-0.5\" x2=\"2.88256\" y2=\"-0.5\" transform=\"matrix%280.70909 -0.705118 0.70909 0.705118 4.99634 18%29\" stroke=\"black\"/><line x1=\"11\" x2=\"11\" y2=\"5\" stroke=\"black\"/><line x1=\"17\" y1=\"11\" x2=\"22\" y2=\"11\" stroke=\"black\"/><line y1=\"11\" x2=\"5\" y2=\"11\" stroke=\"black\"/><line x1=\"11\" y1=\"17\" x2=\"11\" y2=\"22\" stroke=\"black\"/></svg>");
            transition: 0.4s ease;
            top: 1px;
            left: 1px; }
        header #header .settings .toggle input {
          margin: 0;
          display: none; }
          header #header .settings .toggle input:checked + label {
            background: linear-gradient(#ffffff, #d9d9d9); }
            header #header .settings .toggle input:checked + label .check {
              left: 26px;
              transform: rotate(360deg);
              background: linear-gradient(#262626, #000000);
              content: url("data:image/svg+xml; utf8, <svg width=\"17\" height=\"15\" viewBox=\"-2 -2 20 17\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M5.83883 9.08588C6.65743 9.90447 7.72013 10.3616 8.7573 10.646C9.64846 10.8903 10.5611 11.0167 11.3225 11.1222C11.4449 11.1392 11.5633 11.1556 11.6771 11.1718C12.0978 11.232 12.4459 11.2887 12.7171 11.3597C12.9612 11.4237 13.0789 11.4841 13.1276 11.5199C13.1251 11.5283 13.1216 11.5387 13.1167 11.5512C13.0649 11.6837 12.911 11.9132 12.5563 12.2679C9.82268 15.0015 5.39052 15.0015 2.65685 12.2679C-0.0768159 9.53419 -0.0768159 5.10204 2.65685 2.36837C3.01148 2.01375 3.24105 1.85984 3.37348 1.80799C3.38604 1.80308 3.39644 1.7996 3.40483 1.79714C3.44057 1.84584 3.50106 1.96351 3.56501 2.20759C3.63605 2.47877 3.69274 2.82688 3.75287 3.24762C3.76914 3.36143 3.78555 3.47985 3.80249 3.60218C3.90797 4.36361 4.0344 5.27625 4.27875 6.16741C4.56315 7.20459 5.02024 8.26729 5.83883 9.08588Z\" stroke=\"white\"/><path d=\"M12.6322 6.28781L11.26 5.43292L12.6161 4.72148L12.6812 4.68734L12.7175 4.62344L13.5668 3.12613L14.2744 4.60783L14.3125 4.68759L14.3923 4.72569L15.874 5.43332L14.3767 6.28254L14.3127 6.31879L14.2786 6.38387L13.5672 7.74007L12.7122 6.3678L12.6815 6.31852L12.6322 6.28781Z\" stroke=\"white\" stroke-width=\"0.5\"/><path d=\"M9.00351 1.74497L8.50265 1.43292L8.98745 1.17858L9.05251 1.14445L9.08876 1.08055L9.39518 0.540342L9.64573 1.06494L9.68382 1.1447L9.76358 1.18279L10.2882 1.43332L9.74797 1.73969L9.68405 1.77595L9.64992 1.84102L9.39558 2.32586L9.08349 1.82495L9.05279 1.77567L9.00351 1.74497Z\" stroke=\"white\" stroke-width=\"0.5\"/></svg>");
              transition: 0.4s ease; }
  header .light-mode #header {
    background: linear-gradient(180deg, #ffffff 0%, #d9d9d9 1001.14%);
    border-bottom: 1px solid #000000; }
  header .light-mode .menu-desktop ul li a {
    color: #000000 !important; }
  header .light-mode .menu-desktop ul li svg {
    fill: #000000 !important; }
  header .light-mode .search svg {
    fill: #000000; }
  header .light-mode .search circle {
    stroke: #000000; }
  header .light-mode .search path {
    fill: #000000; }
  @media screen and (min-width: 1225px) {
    header .settings .hamburger {
      display: none; } }
  @media screen and (min-width: 769px) and (max-width: 1224px) {
    header .settings .hamburger {
      display: none; } }
  @media screen and (max-width: 768px) {
    header {
      /*#header {
            display: none;
        }*/
      /*    #header-mobile {
            /*position: fixed;
            z-index: 10;
            background: $black-gradient;
            transition: width 0.3s, height 0.3s;
            top: 0px;
            right: 0px;
            animation: anim-jelly 0.8s linear forwards;
            width: 300px;
            height: 300px;
            border-bottom-left-radius: 300 px;*/
      /*       width: 100%;
            display: flex;
            background-size: cover;
            height: 241px;
            position: fixed;
            top: 0;
            z-index: 5;
    
            .header-background {
                background-image: url("../images/header-mobile.svg");
                background-repeat: no-repeat;
                width: 100%;
                /*background-position: fixed;*/
      /*       }
        }*/ }
      header .menu-desktop {
        display: none; }
      header .menu-mobile {
        display: block; }
        header .menu-mobile ul {
          display: flex;
          flex-direction: column; }
          header .menu-mobile ul .svg-circle {
            display: none; }
      header .hamburger {
        width: 28px;
        height: 28px;
        /*
            .hamburger-button:checked ~ .hamburger-lines {
                span {
                    border-radius: 3px;
                    transform: rotate(45deg) translate(2px, 1px);
                }
            }

            .hamburger-button:checked ~ .hamburger-lines {
                span:nth-last-child(2) {
                    width: 20px;
                    transform: rotate(-45deg) translate(-6px, 6px);
                }
            }

            .hamburger-button:checked ~ .hamburger-lines {
                span:nth-last-child(1) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }
            }*/ }
        header .hamburger .hamburger-button {
          width: 28px;
          height: 28px;
          position: absolute;
          text-align: end;
          opacity: 0;
          z-index: 2; }
        header .hamburger .hamburger-lines {
          width: 100%;
          height: 100%;
          position: relative;
          /*display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-evenly;
                background-color: transparent;*/
          /*
                span {
                    height: 2px;
                    background: $white;
                    border-radius: 3px 0 0 3px;
                    transform-origin: 4px 0px;
                    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                        opacity 0.55s ease;

                    &:nth-child(1) {
                        width: 20px;
                        transform-origin: 0% 0%;
                    }
                    &:nth-child(2) {
                        width: 16px;
                        transform-origin: 0% 100%;
                    }
                    &:nth-child(3) {
                        width: 12px;
                    }
                }*/ }
          header .hamburger .hamburger-lines span {
            height: 2px;
            background: #ffffff;
            border-radius: 3px 0 0 3px;
            position: absolute;
            right: 0;
            /*transform-origin: 4px 0px;
                    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                        opacity 0.55s ease;*/ }
            header .hamburger .hamburger-lines span:nth-child(1) {
              width: 20px;
              /*transform-origin: 0% 0%;*/
              top: 6px;
              transition-duration: 0.3s, 0.3s;
              transition-delay: 0.3s, 0s;
              transition-property: top, transform; }
            header .hamburger .hamburger-lines span:nth-child(2) {
              width: 16px;
              top: 14px;
              transition: background 0s 0.3s;
              /*transform-origin: 0% 100%;*/ }
            header .hamburger .hamburger-lines span:nth-child(3) {
              width: 12px;
              top: 22px;
              transition-duration: 0.3s, 0.3s;
              transition-delay: 0.3s, 0s;
              transition-property: all, transform; }
        header .hamburger .menu-desktop {
          position: fixed;
          z-index: 5;
          background: linear-gradient(#262626, #000000);
          transition: width 0.3s, height 0.3s;
          width: 0;
          height: 0;
          top: 89px;
          right: 0px;
          transform-origin: 100% 0%;
          border-bottom-left-radius: 300px;
          border: solid #ffffff;
          border-width: 0 0 1px 1px;
          background: linear-gradient(180deg, #262626 -115%, #000000 725%); }
          header .hamburger .menu-desktop a {
            font-size: 16px;
            line-height: 32px; }
        header .hamburger .hamburger-button:checked ~ .hamburger-lines span {
          border-radius: 3px; }
          header .hamburger .hamburger-button:checked ~ .hamburger-lines span:nth-child(1) {
            top: 14px;
            transform: rotate(45deg);
            transition-delay: 0s, 0.3s; }
          header .hamburger .hamburger-button:checked ~ .hamburger-lines span:nth-child(2) {
            background: none; }
          header .hamburger .hamburger-button:checked ~ .hamburger-lines span:nth-child(3) {
            width: 20px;
            top: 14px;
            transform: rotate(-45deg);
            transition-delay: 0s, 0.3s; }
        header .hamburger .hamburger-button:checked ~ .menu-desktop {
          width: 215px;
          height: 140px;
          border-bottom-left-radius: 300px; } }

#footer {
  display: flex;
  align-items: center;
  bottom: 0; }
  #footer .footer-line {
    background: #ffffff; }
  #footer a {
    height: 100%;
    line-height: 0; }

.light-mode #footer .footer-line {
  background: #000000; }

@media screen and (min-width: 1225px) {
  #footer {
    flex-direction: column;
    gap: 10px;
    position: fixed;
    left: 40px; }
    #footer #first-line {
      display: none; }
    #footer .cv,
    #footer .linkedin {
      height: 30px; }
    #footer .footer-line {
      width: 1px;
      height: 60px; } }

@media screen and (min-width: 769px) and (max-width: 1224px) {
  #footer {
    flex-direction: column;
    gap: 10px;
    position: fixed;
    left: 40px; }
    #footer #first-line {
      display: none; }
    #footer .cv,
    #footer .linkedin {
      height: 30px; }
    #footer .footer-line {
      width: 1px;
      height: 60px; } }

@media screen and (max-width: 768px) {
  #footer {
    flex-direction: row;
    gap: 20px;
    /*position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);*/ }
    #footer .footer-line {
      width: 70px;
      height: 1px; }
    #footer .cv, #footer .linkedin {
      height: 28px; }
      #footer .cv svg, #footer .linkedin svg {
        width: 28px;
        height: 28px; } }

* {
  margin: 0; }
  *:before, *:after {
    content: "";
    position: absolute; }

html body {
  /*transform: scale(0.8);
        transform-origin: 0 0;
        width: 125%;*/
  background: linear-gradient(#262626, #000000);
  background-attachment: fixed;
  color: #ffffff;
  transition: 0.5s;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  html body header .active {
    font-weight: 800; }
  html body h2 {
    font-family: Nunito;
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 24px; }
  html body p,
  html body a {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    text-align: justify;
    text-decoration: none; }
  html body .search circle {
    stroke: #ffffff; }
  html body .search path {
    fill: #ffffff; }
  html body .card {
    position: relative;
    border-radius: 20px;
    color: #ffffff;
    background: radial-gradient(50% 75% at 50% 0%, #373e42 0%, #222426 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    html body .card:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px;
      border-radius: inherit;
      background: linear-gradient(#fff, rgba(0, 0, 0, 0)); }

html .light-mode {
  background: linear-gradient(#ffffff, #d9d9d9);
  background-attachment: fixed;
  color: #000000; }
  html .light-mode .card {
    color: #000000;
    background: radial-gradient(50% 75% at 50% 0%, #ffffff 0%, #f2f2f2 100%); }

@media screen and (max-width: 768px) {
  .page-content {
    margin-top: 89px; } }

/*
@media (prefers-color-scheme: dark) {
    * {
        color: $white;
    }

    body {
        background: $black-gradient no-repeat;
    }
}

@media (prefers-color-scheme: light) {
    * {
        color: $black;
    }

    body {
        background: $white-gradient no-repeat;
    }
}
*/
/*
.card {
    width: 600px;
    height: 720px;
    margin: 94px 20px 0 40px;
    padding: 24px 48px;
}

.card {
    width: 290px;
    height: 290px;
    flex-grow: 0;
}*/

/*!*****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./assets/styles/index.scss (2) ***!
  \*****************************************************************************************************************************************************************/
/* Solid colors */
/* Gradients */
.hero {
  display: flex;
  align-items: center;
  justify-content: center; }
  .hero .hero-column {
    display: none;
    list-style-type: none;
    flex-direction: column;
    padding: 0; }
    .hero .hero-column p,
    .hero .hero-column li {
      font-family: "Roboto", sans-serif;
      font-size: 32px;
      letter-spacing: 0.25em; }
  .hero .logo-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    top: 0;
    background: transparent; }
  .hero .logo-loader-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    background: transparent; }

@media screen and (min-width: 1225px) {
  .hero {
    height: calc(100vh - 90px);
    flex-direction: row;
    gap: 8vw; }
    .hero .hero-column {
      width: 310;
      gap: 20px;
      font-size: 32px; }
      .hero .hero-column p:nth-child(1) {
        margin-left: 10vw; }
      .hero .hero-column p:nth-child(2) {
        margin-left: 20vw; }
      .hero .hero-column p:nth-child(3) {
        margin-left: 15vw; }
      .hero .hero-column p:nth-child(4) {
        margin-left: 8vw; }
      .hero .hero-column p:nth-child(5) {
        margin-left: 22vw; }
      .hero .hero-column p:nth-child(6) {
        margin-left: 10vw; }
      .hero .hero-column p:nth-child(7) {
        margin-left: 18vw; }
    .hero #last-hero {
      gap: 32px; } }

@media screen and (min-width: 769px) and (max-width: 1224px) {
  .hero {
    height: calc(100vh - 90px);
    flex-direction: row;
    gap: 5vw; }
    .hero .hero-column {
      width: 310;
      gap: 20px;
      font-size: 32px; }
      .hero .hero-column p,
      .hero .hero-column li {
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0.25em; }
      .hero .hero-column p:nth-child(1) {
        margin-left: 10vw; }
      .hero .hero-column p:nth-child(2) {
        margin-left: 20vw; }
      .hero .hero-column p:nth-child(3) {
        margin-left: 15vw; }
      .hero .hero-column p:nth-child(4) {
        margin-left: 8vw; }
      .hero .hero-column p:nth-child(5) {
        margin-left: 22vw; }
      .hero .hero-column p:nth-child(6) {
        margin-left: 10vw; }
      .hero .hero-column p:nth-child(7) {
        margin-left: 18vw; }
    .hero .logo-loader,
    .hero .logo-loader-hero {
      width: 250px; }
      .hero .logo-loader svg,
      .hero .logo-loader-hero svg {
        width: 100%;
        height: auto; }
    .hero #last-hero {
      gap: 32px; } }

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 20px 0;
    gap: 20px; }
    .hero .hero-column {
      /*height: 285px;*/
      font-size: 20px;
      width: 100%;
      /*align-items: center;*/ }
      .hero .hero-column p,
      .hero .hero-column li {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0.25em; }
      .hero .hero-column p:nth-child(1) {
        margin-left: 10vw; }
      .hero .hero-column p:nth-child(2) {
        margin-left: 60vw; }
      .hero .hero-column p:nth-child(3) {
        margin-left: 40vw; }
      .hero .hero-column p:nth-child(4) {
        margin-left: 0vw; }
      .hero .hero-column p:nth-child(5) {
        margin-left: 55vw; }
      .hero .hero-column p:nth-child(6) {
        margin-left: 15vw; }
      .hero .hero-column p:nth-child(7) {
        margin-left: 45vw; }
    .hero #last-hero {
      text-align: center; }
    .hero .logo-loader,
    .hero .logo-loader-hero {
      width: 150px; }
      .hero .logo-loader svg,
      .hero .logo-loader-hero svg {
        width: 100%;
        height: auto; } }

/*!********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./assets/styles/realisations.scss ***!
  \********************************************************************************************************************************************************************/
/* Solid colors */
/* Gradients */
.real-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 80px 0 0; }
  .real-content .real-card .project-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .real-content .real-card .project-item .infos {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .real-content .real-card .project-item .infos .techno .figma {
        width: 30px;
        height: 30px;
        background-color: #ffffff; }
      .real-content .real-card .project-item .infos .date {
        display: flex;
        align-items: center;
        gap: 2px; }
        .real-content .real-card .project-item .infos .date .line {
          width: 24px;
          height: 1px;
          background: #ffffff; }
    .real-content .real-card .project-item .visit {
      background: linear-gradient(to bottom right, #12c2e9, #c471ed, #f64f59);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px auto;
      position: relative;
      z-index: 0; }
      .real-content .real-card .project-item .visit::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        border: 2px solid transparent;
        background: inherit;
        background-origin: border-box;
        background-clip: border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        -webkit-mask-repeat: no-repeat; }
      .real-content .real-card .project-item .visit:hover {
        color: #000000;
        -webkit-text-fill-color: #000000;
        -webkit-background-clip: border-box;
        background-clip: border-box; }
    .real-content .real-card .project-item .projects .buttons {
      display: flex;
      justify-content: center;
      gap: 24px;
      height: 50px; }
      .real-content .real-card .project-item .projects .buttons .button-projects:hover circle {
        fill: url(#MyGradient); }
      .real-content .real-card .project-item .projects .buttons .button-projects:hover path {
        fill: black; }
    .real-content .real-card .project-item .projects .number {
      font-size: 20px;
      text-align: center; }
  .real-content .ordi {
    display: flex;
    align-items: center; }
    .real-content .ordi img {
      width: 100%; }

@media screen and (min-width: 1225px) {
  .real-content {
    margin: 40px 8vw; }
    .real-content .real-card {
      width: 38vw;
      margin-right: 2vw; }
      .real-content .real-card .project-item {
        margin: 24px 48px 0; }
        .real-content .real-card .project-item .visit {
          width: 150px;
          height: 50px; }
        .real-content .real-card .project-item .projects {
          font-size: 20px; }
    .real-content .ordi {
      width: 58vw; } }

@media screen and (min-width: 769px) and (max-width: 1224px) {
  .real-content {
    margin: 20px 2vw; }
    .real-content .real-card {
      width: 100%;
      margin-right: 15px; }
      .real-content .real-card .project-item {
        margin: 10px 20px; }
        .real-content .real-card .project-item .description h2 {
          font-size: 24px;
          line-height: 40px; }
        .real-content .real-card .project-item .description p {
          font-size: 16px;
          line-height: 32px; }
        .real-content .real-card .project-item .description .infos .figma {
          width: 25px;
          height: 25px; }
        .real-content .real-card .project-item .description .infos .date {
          line-height: 25px;
          height: 25px; }
        .real-content .real-card .project-item .visit {
          width: 90px;
          height: 30px;
          font-size: 16px; }
        .real-content .real-card .project-item .projects {
          font-size: 17px; }
          .real-content .real-card .project-item .projects .buttons {
            height: 30px; }
            .real-content .real-card .project-item .projects .buttons .button-projects {
              width: 30px;
              height: 30px; }
              .real-content .real-card .project-item .projects .buttons .button-projects svg {
                width: 100%;
                height: 100%; }
          .real-content .real-card .project-item .projects .number {
            font-size: 14px;
            line-height: 32px; }
    .real-content .ordi {
      margin-bottom: 20px; } }

@media screen and (max-width: 768px) {
  .real-content {
    flex-direction: column-reverse;
    margin: 20px; }
    .real-content .real-card {
      width: 100%; }
      .real-content .real-card .project-item {
        margin: 10px 20px; }
        .real-content .real-card .project-item .description h2 {
          font-size: 24px;
          line-height: 40px;
          margin-bottom: 0; }
        .real-content .real-card .project-item .description p {
          font-size: 16px;
          line-height: 32px; }
        .real-content .real-card .project-item .description .infos .figma {
          width: 25px;
          height: 25px; }
        .real-content .real-card .project-item .description .infos .date {
          line-height: 25px;
          height: 25px; }
        .real-content .real-card .project-item .visit {
          width: 90px;
          height: 30px;
          font-size: 16px; }
        .real-content .real-card .project-item .projects {
          font-size: 14px; }
          .real-content .real-card .project-item .projects .buttons {
            height: 30px; }
            .real-content .real-card .project-item .projects .buttons .button-projects {
              width: 30px;
              height: 30px; }
              .real-content .real-card .project-item .projects .buttons .button-projects svg {
                width: 100%;
                height: 100%; }
          .real-content .real-card .project-item .projects .number {
            font-size: 14px;
            line-height: 32px; }
    .real-content .ordi {
      margin-bottom: 20px; } }

/*!*******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./assets/styles/competences.scss ***!
  \*******************************************************************************************************************************************************************/
/* Solid colors */
/* Gradients */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .grid .tech-card {
    flex-grow: 0;
    display: flex;
    align-items: center; }
    .grid .tech-card .card-element {
      display: flex; }
      .grid .tech-card .card-element > * {
        margin: auto; }

@media screen and (min-width: 1225px) {
  .grid {
    margin: 93px auto;
    gap: 175px;
    max-width: 1220px; }
    .grid .tech-card {
      width: 290px;
      height: 290px; }
      .grid .tech-card .card-element {
        height: calc(290px / 3); }
      .grid .tech-card .card-element {
        display: flex; }
        .grid .tech-card .card-element > * {
          margin: auto; }
        .grid .tech-card .card-element h2 {
          transition: 500ms;
          opacity: 0; }
        .grid .tech-card .card-element .img {
          filter: grayscale(1);
          transition: 500ms; }
        .grid .tech-card .card-element .search {
          opacity: 0; }
      .grid .tech-card:hover .img {
        filter: grayscale(0); }
      .grid .tech-card:hover h2 {
        transition: 500ms;
        opacity: 1; }
      .grid .tech-card:hover .search {
        transition: 500ms;
        opacity: 1; }
    .grid .creative h2 {
      font-size: 40px; } }

@media screen and (min-width: 769px) and (max-width: 1224px) {
  .grid {
    max-width: 850px;
    margin: 40px auto;
    gap: 50px;
    /*justify-content: space-evenly;*/ }
    .grid .tech-card {
      width: 200px;
      height: 200px; }
      .grid .tech-card .card-element {
        height: calc(200px / 3); }
        .grid .tech-card .card-element h2 {
          font-size: 28px;
          transition: 500ms;
          opacity: 0; }
        .grid .tech-card .card-element .img {
          filter: grayscale(1);
          transition: 500ms; }
        .grid .tech-card .card-element .search {
          opacity: 0; }
        .grid .tech-card .card-element .img {
          height: 100%; }
          .grid .tech-card .card-element .img img {
            height: 100%;
            width: auto; }
      .grid .tech-card:hover .img {
        filter: grayscale(0); }
      .grid .tech-card:hover h2 {
        transition: 500ms;
        opacity: 1; }
      .grid .tech-card:hover .search {
        transition: 500ms;
        opacity: 1; } }

@media screen and (max-width: 768px) {
  .grid {
    max-width: 500px;
    margin: 20px auto;
    gap: 25px;
    justify-content: space-evenly; }
    .grid .tech-card {
      /*height: 40vw !important;
            width: 40vw !important;*/
      width: 158px;
      height: 158px; }
      .grid .tech-card .card-element {
        height: calc(158px / 3);
        /*.img {
                    top: -5% !important;

                    img {
                        width: 44px !important;
                        height: auto;
                    }
                }*/ }
        .grid .tech-card .card-element h2 {
          font-size: 24px;
          /*line-height: 30px !important;
                    margin: 14px 0 0 !important;*/ }
        .grid .tech-card .card-element .img {
          height: 100%; }
          .grid .tech-card .card-element .img img {
            height: 100%;
            width: auto; }
        .grid .tech-card .card-element .svg {
          /*bottom: 10px !important;*/ }
          .grid .tech-card .card-element .svg svg {
            width: 21px !important;
            height: auto !important; }
    .grid .creative h2 {
      font-size: 22px !important; } }

.light-mode .cards .icon path {
  fill: black; }

/*!*******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./assets/styles/experiences.scss ***!
  \*******************************************************************************************************************************************************************/
/* Solid colors */
/* Gradients */
.timeline,
.timeline-mobile {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -3; }

.cards .card-content {
  position: relative; }

.cards .icon-container {
  position: absolute;
  z-index: 1; }
  .cards .icon-container .icon {
    position: relative;
    border-radius: 50px;
    justify-content: center;
    align-items: center; }

.cards .exp-card .content {
  display: grid;
  grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: auto 1fr; }
  .cards .exp-card .content .date {
    transform: rotate(180deg);
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr; }
    .cards .exp-card .content .date p {
      text-align: center;
      background: linear-gradient(to bottom right, #12c2e9, #c471ed, #f64f59);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent; }
  .cards .exp-card .content .text {
    margin: auto 14px auto 0; }
    .cards .exp-card .content .text p {
      text-align: left; }
    .cards .exp-card .content .text .desc {
      font-weight: 200; }

@media screen and (min-width: 1225px) {
  .timeline {
    width: 600px;
    height: 2260px;
    margin: 93px auto; }
  .timeline-mobile {
    display: none; }
  .cards {
    margin: 225px 0; }
    .cards .card-content {
      width: 356px;
      height: 210px;
      margin: 0 auto 143px; }
      .cards .card-content:nth-child(odd) {
        left: -290px; }
      .cards .card-content:nth-child(even) {
        left: 290px; }
      .cards .card-content:nth-child(5) .title {
        line-height: 32px; }
      .cards .card-content .icon-container {
        top: -25px;
        right: 50px; }
        .cards .card-content .icon-container .icon {
          width: 50px;
          height: 50px; }
    .cards .exp-card .date {
      height: 210px; }
    .cards .exp-card .text {
      margin: auto 14px auto 0; }
      .cards .exp-card .text .desc {
        line-height: 30px; } }

@media screen and (min-width: 769px) and (max-width: 1224px) {
  .timeline {
    width: 520px;
    height: 1960px;
    margin: 60px auto; }
  .timeline-mobile {
    display: none; }
  .cards {
    margin: 175px 0; }
    .cards .card-content {
      width: 325px;
      height: 180px;
      margin: 0 auto 125px; }
      .cards .card-content:nth-child(odd) {
        left: -250px; }
      .cards .card-content:nth-child(even) {
        left: 250px; }
      .cards .card-content:nth-child(5) .title {
        line-height: 28px; }
      .cards .card-content .exp-card .date {
        height: 180px; }
      .cards .card-content .exp-card .text {
        margin: auto 14px auto 0; }
        .cards .card-content .exp-card .text .desc {
          line-height: 26px; }
      .cards .card-content .exp-card p {
        font-size: 20px; }
      .cards .card-content .icon-container {
        top: -22.5px;
        right: 40px; }
        .cards .card-content .icon-container .icon {
          width: 45px;
          height: 45px; } }

@media screen and (max-width: 768px) {
  /*.timeline {
        width: 60%;
        height: 2000px;
        padding: 38px 20%;

        svg {
            height: 100%;
        }
    }*/
  .timeline {
    display: none; }
  .timeline-mobile {
    width: 259px;
    height: 1027px;
    margin: 40px auto;
    /*padding: 40px, 60px;*/ }
  .cards {
    margin: 75px 0;
    padding-bottom: 1px; }
    .cards .card-content {
      width: 235px;
      height: 130px;
      margin: 0 0 35px; }
      .cards .card-content .exp-card .date {
        height: 130px; }
      .cards .card-content .exp-card .text {
        margin: auto 10px auto 0; }
        .cards .card-content .exp-card .text .desc {
          line-height: 22px; }
      .cards .card-content .exp-card p {
        font-size: 16px; }
      .cards .card-content .exp-card .date p,
      .cards .card-content .exp-card .title {
        line-height: 32px; }
      .cards .card-content .icon-container {
        top: -20px;
        right: 30px; }
        .cards .card-content .icon-container .icon {
          width: 40px;
          height: 40px; }
      .cards .card-content:nth-child(odd) {
        left: -50px; }
      .cards .card-content:nth-child(even) {
        left: 50px; }
      .cards .card-content:nth-child(4) {
        margin: 0 0 27px; }
      .cards .card-content:nth-child(5) {
        height: 140px;
        margin: 0 0 18px; }
        .cards .card-content:nth-child(5) .date {
          height: 140px; }
        .cards .card-content:nth-child(5) .title {
          line-height: 24px; }
      .cards .card-content:nth-child(6) {
        height: 140px; }
        .cards .card-content:nth-child(6) .date {
          height: 140px; } }

