mixin linkedin
    svg(width='30' height='30' viewbox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
        style.
            .linkedin:hover rect {
                fill: url(#colored_rect);
            }
            .light-mode .linkedin rect {
                fill: url(#black_rect);
            }
            .light-mode .linkedin:hover rect {
                fill: url(#colored_rect);
            }
            .light-mode .linkedin path {
                fill: url(#social_white_text);
            }
        rect(width='30' height='30' rx='2' fill='url(#white_rect)')
        path(d='M6.927 9.216C6.207 9.216 5.615 9.008 5.151 8.592C4.703 8.16 4.479 7.632 4.479 7.008C4.479 6.368 4.703 5.84 5.151 5.424C5.615 4.992 6.207 4.776 6.927 4.776C7.631 4.776 8.207 4.992 8.655 5.424C9.119 5.84 9.351 6.368 9.351 7.008C9.351 7.632 9.119 8.16 8.655 8.592C8.207 9.008 7.631 9.216 6.927 9.216ZM8.967 10.608V24H4.863V10.608H8.967ZM20.1011 10.464C21.6691 10.464 22.9171 10.976 23.8451 12C24.7891 13.008 25.2611 14.4 25.2611 16.176V24H21.1811V16.728C21.1811 15.832 20.9491 15.136 20.4851 14.64C20.0211 14.144 19.3971 13.896 18.6131 13.896C17.8291 13.896 17.2051 14.144 16.7411 14.64C16.2771 15.136 16.0451 15.832 16.0451 16.728V24H11.9411V10.608H16.0451V12.384C16.4611 11.792 17.0211 11.328 17.7251 10.992C18.4291 10.64 19.2211 10.464 20.1011 10.464Z' fill='url(#social_black_text)')
        defs
            lineargradient#colored_rect(x1='0' y1='0' x2='30' y2='30' gradientunits='userSpaceOnUse')
                stop(stop-color='#12C2E9')
                stop(offset='0.490335' stop-color='#C471ED')
                stop(offset='1' stop-color='#F64F59')
            lineargradient#white_rect(x1='15' y1='0' x2='15' y2='30' gradientunits='userSpaceOnUse')
                stop(stop-color='white')
                stop(offset='1' stop-color='#D9D9D9')
            lineargradient#black_rect(x1='15' y1='0' x2='15' y2='30' gradientunits='userSpaceOnUse')
                stop(stop-color='#262626')
                stop(offset='1')
            lineargradient#social_black_text(x1='15' y1='4' x2='15' y2='28' gradientunits='userSpaceOnUse')
                stop(stop-color='#262626')
                stop(offset='1')
            lineargradient#social_white_text(x1='15' y1='4' x2='15' y2='28' gradientunits='userSpaceOnUse')
                stop(stop-color='white')
                stop(offset='1' stop-color="#D9D9D9")

mixin cv 
    svg(width='30' height='30' viewbox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
        style.
            .cv:hover rect {
                fill: url(#colored_rect);
            }
            .light-mode .cv rect {
                fill: url(#black_rect);
            }
            .light-mode .cv:hover rect {
                fill: url(#colored_rect);
            }
            .light-mode .cv path {
                fill: url(#social_white_text);
            }
        rect(width='30' height='30' rx='2' fill='url(#white_rect)')
        path(d='M0.894656 17.304C0.894656 15.912 1.17466 14.696 1.73466 13.656C2.31066 12.616 3.10266 11.816 4.11066 11.256C5.13466 10.696 6.30266 10.416 7.61466 10.416C9.29466 10.416 10.6947 10.856 11.8147 11.736C12.9507 12.616 13.6947 13.856 14.0467 15.456H9.67866C9.31066 14.432 8.59866 13.92 7.54266 13.92C6.79066 13.92 6.19066 14.216 5.74266 14.808C5.29466 15.384 5.07066 16.216 5.07066 17.304C5.07066 18.392 5.29466 19.232 5.74266 19.824C6.19066 20.4 6.79066 20.688 7.54266 20.688C8.59866 20.688 9.31066 20.176 9.67866 19.152H14.0467C13.6947 20.72 12.9507 21.952 11.8147 22.848C10.6787 23.744 9.27866 24.192 7.61466 24.192C6.30266 24.192 5.13466 23.912 4.11066 23.352C3.10266 22.792 2.31066 21.992 1.73466 20.952C1.17466 19.912 0.894656 18.696 0.894656 17.304ZM22.2659 20.16L25.1699 10.608H29.5379L24.7859 24H19.7219L14.9699 10.608H19.3619L22.2659 20.16Z' fill='url(#social_black_text)')

mixin previous-projects
    svg(width='50' height='50' viewbox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
        circle(cx='25' cy='25' r='24' stroke='url(#paint0_linear_379:1608)' stroke-width='2')
        path(d='M29.2929 39.7071C29.6834 40.0976 30.3166 40.0976 30.7071 39.7071C31.0976 39.3166 31.0976 38.6834 30.7071 38.2929L29.2929 39.7071ZM16.7071 24.2928L16 23.5857L14.5858 25L15.2929 25.7071L16.7071 24.2928ZM30.7071 38.2929L16.7071 24.2928L15.2929 25.7071L29.2929 39.7071L30.7071 38.2929Z' fill='url(#paint1_linear_379:1608)')
        path(d='M30.7071 11.7071C31.0976 11.3166 31.0976 10.6834 30.7071 10.2929C30.3166 9.90237 29.6834 9.90237 29.2929 10.2929L30.7071 11.7071ZM15.2929 24.2929L14.5858 25L16 26.4143L16.7071 25.7072L15.2929 24.2929ZM29.2929 10.2929L15.2929 24.2929L16.7071 25.7072L30.7071 11.7071L29.2929 10.2929Z' fill='url(#paint2_linear_379:1608)')
        defs
            lineargradient(id='paint0_linear_379:1608' x1='0' y1='0' x2='50' y2='50' gradientunits='userSpaceOnUse')
                stop(stop-color='#12C2E9')
                stop(offset='0.490335' stop-color='#C471ED')
                stop(offset='1' stop-color='#F64F59')
            lineargradient(id='paint1_linear_379:1608' x1='1.89218e-05' y1='-1.67591e-05' x2='50' y2='50' gradientunits='userSpaceOnUse')
                stop(stop-color='#12C2E9')
                stop(offset='0.492708' stop-color='#C471ED')
                stop(offset='1' stop-color='#F64F59')
            lineargradient(id='paint2_linear_379:1608' x1='1.4578e-06' y1='-8.87358e-07' x2='50' y2='50' gradientunits='userSpaceOnUse')
                stop(stop-color='#12C2E9')
                stop(offset='0.492708' stop-color='#C471ED')
                stop(offset='1' stop-color='#F64F59')

mixin next-projects 
    svg(width='50' height='50' viewbox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
        circle(cx='25' cy='25' r='24' stroke='url(#paint0_linear_379:1617)' stroke-width='2')
        path(d='M20.7071 10.2929C20.3166 9.90237 19.6834 9.90237 19.2929 10.2929C18.9024 10.6834 18.9024 11.3166 19.2929 11.7071L20.7071 10.2929ZM33.2929 25.7072L34 26.4143L35.4142 25L34.7071 24.2929L33.2929 25.7072ZM19.2929 11.7071L33.2929 25.7072L34.7071 24.2929L20.7071 10.2929L19.2929 11.7071Z' fill='url(#paint1_linear_379:1617)')
        path(d='M19.2929 38.2929C18.9024 38.6834 18.9024 39.3166 19.2929 39.7071C19.6834 40.0976 20.3166 40.0976 20.7071 39.7071L19.2929 38.2929ZM34.7071 25.7071L35.4142 25L34 23.5857L33.2929 24.2928L34.7071 25.7071ZM20.7071 39.7071L34.7071 25.7071L33.2929 24.2928L19.2929 38.2929L20.7071 39.7071Z' fill='url(#paint2_linear_379:1617)')
        defs
            lineargradient(id='paint0_linear_379:1617' x1='0' y1='0' x2='50' y2='50' gradientunits='userSpaceOnUse')
                stop(stop-color='#12C2E9')
                stop(offset='0.490335' stop-color='#C471ED')
                stop(offset='1' stop-color='#F64F59')
            lineargradient(id='paint1_linear_379:1617' x1='-3.37625e-07' y1='-6.60266e-08' x2='50' y2='50' gradientunits='userSpaceOnUse')
                stop(stop-color='#12C2E9')
                stop(offset='0.492708' stop-color='#C471ED')
                stop(offset='1' stop-color='#F64F59')
            lineargradient(id='paint2_linear_379:1617' x1='1.06753e-06' y1='1.49747e-06' x2='50' y2='49.5' gradientunits='userSpaceOnUse')
                stop(stop-color='#12C2E9')
                stop(offset='0.492708' stop-color='#C471ED')
                stop(offset='1' stop-color='#F64F59')
            lineargradient#MyGradient(x1='0' y1='0' x2='50' y2='50' gradientunits='userSpaceOnUse')
                stop(stop-color='#12C2E9')
                stop(offset='0.490335' stop-color='#C471ED')
                stop(offset='1' stop-color='#F64F59')

mixin exp-icon(type)
    if type == 'work'
        svg(width='22' height='20' viewbox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(opacity='0.75' d='M13.75 13.0625C13.75 13.4423 13.4423 13.75 13.0625 13.75H8.9375C8.55766 13.75 8.25 13.4423 8.25 13.0625V11H0V17.1875C0 18.2875 0.9625 19.25 2.0625 19.25H19.9375C21.0375 19.25 22 18.2875 22 17.1875V11H13.75V13.0625ZM19.9375 4.125H16.5V2.0625C16.5 0.9625 15.5375 0 14.4375 0H7.5625C6.4625 0 5.5 0.9625 5.5 2.0625V4.125H2.0625C0.9625 4.125 0 5.0875 0 6.1875V9.625H22V6.1875C22 5.0875 21.0375 4.125 19.9375 4.125ZM13.75 4.125H8.25V2.75H13.75V4.125Z' fill='white')
    else
        svg(width='26' height='16' viewbox='0 0 26 16' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(opacity='0.75' d='M25.2825 3.62387L13.9505 0.14229C13.333 -0.0474299 12.6667 -0.0474299 12.0496 0.14229L0.717237 3.62387C-0.239079 3.91759 -0.239079 5.18225 0.717237 5.47597L2.69284 6.08291C2.25937 6.61875 1.99287 7.27241 1.96646 7.98823C1.57524 8.21248 1.2998 8.6171 1.2998 9.10014C1.2998 9.53808 1.53055 9.90654 1.86287 10.1422L0.825706 14.8092C0.735519 15.215 1.04427 15.6002 1.45986 15.6002H3.73934C4.15534 15.6002 4.4641 15.215 4.37391 14.8092L3.33675 10.1422C3.66906 9.90654 3.89981 9.53808 3.89981 9.10014C3.89981 8.6301 3.63697 8.23685 3.26362 8.00854C3.2945 7.39835 3.6065 6.85885 4.10416 6.51678L12.0492 8.95795C12.4173 9.07089 13.1233 9.21186 13.9501 8.95795L25.2825 5.47637C26.2392 5.18225 26.2392 3.91799 25.2825 3.62387ZM14.3319 10.2007C13.1729 10.5565 12.1853 10.3599 11.6673 10.2007L5.77588 8.39082L5.19982 13.0002C5.19982 14.4363 8.69196 15.6002 12.9998 15.6002C17.3077 15.6002 20.7999 14.4363 20.7999 13.0002L20.2238 8.39042L14.3319 10.2007Z' fill='white')
