extends layout

include mixins/cards

block content
    .grid 
        +comp-card("Figma", 53)
        .creative
            +comp-card("Creative Cloud")
        +comp-card("Canva")
        +comp-card("Pug", 113)
        +comp-card("Sass")
        +comp-card("Webpack")
        +comp-card("HTML", 70)
        +comp-card("CSS", 70)
        +comp-card("JS", 70)
        +comp-card("PHP", 147)
        +comp-card("WordPress")
        +comp-card("Vue")
        +comp-card("Bootstrap")
        +comp-card("CodeIgniter", 67)
        +comp-card("Office")


