extends layout

include mixins/logo

block content
    .hero
        .hero-column
            p BIENVENUE 
            p SUR 
            p LE 
            p PORTFOLIO 
            p DE 
            p SARAH 
            p HITIER
        #logo-loader.logo-loader
            +logo
        ul.hero-column#last-hero
            li UX Design 
            li UI Design
            li Développement web

