extends layout

include mixins/icons/logo

block content
    .hero
        p.hero-column#first-column BIENVENUE SUR LE PORTFOLIO DE SARAH HITIER
        #logo-loader.logo-loader
            +logo
        ul.hero-column
            li UX Design 
            li UI Design
            li Développement web

    script(src="../assets/scripts/loader.js")