doctype html
html
    head
        title Sarah HITIER | UI/UX Design, Développement Web
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="icon" href="../assets/images/logo.ico")
    body
        block header
            include includes/header
        block header-mobile 
            include includes/header-mobile
        .page-content
            block content
        block footer
            include includes/footer

        script(src="../assets/scripts/mode.js")
        script(src="../assets/scripts/loader.js")

