extends layout

block content
    .card 
        h2 Site web de BenchKATALOG
        p Ce site web a été créé à l’occasion du salon Esprit Meuble. Sur celui-ci, la solution développée par mon entreprise, BenchDATA, est présentée.
        .infos
            .techno 
                .figma 
            .date 
                .line
                p 2021
        .visit-button
            a.visit(href="https://www.benchkatalog.com/") Voir le site
    .ordi