#footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: fixed;
    height: 120px;
    bottom: 0;
    left: 40px;

    .cv,
    .linkedin {
        height: 30px;

        a {
            height: 100%;
            line-height: 0;
        }
    }

    .footer-line {
        width: 1px;
        height: 60px;
        background: $white;
    }
}

.light-mode {
    #footer {
        .footer-line {
            background: $black;
        }
    }
}
